
node.name: {{ inventory_hostname }}
path.data: {{ logstash_data }}

# slowlog
slowlog.threshold.warn: 2s
slowlog.threshold.info: 1s
slowlog.threshold.debug: 500ms
slowlog.threshold.trace: 100ms

monitoring.enabled: true
monitoring.cluster_uuid: "T_aAGD7STdm6H2GVsPYs3A"

log.level: info
path.logs: /var/log/logstash


config.reload.automatic: true
config.reload.interval: 5s


#persist
queue.type: persisted
queue.page_capacity: 64mb
queue.max_bytes: {{ logstash_maxdata }}